<div class="content-container">

    <div class="page-header">
        <h1>Settings</h1>
    </div>

    <ul class="nav nav-tabs">
        <li ng-class="{'active': $routeSegment.startsWith('settings.general') }"><a href="#!/settings/general">General</a></li>
        <li ng-class="{'active': $routeSegment.startsWith('settings.languages') }"><a href="#!/settings/languages">Languages</a></li>
        <li ng-class="{'active': $routeSegment.startsWith('settings.notifications') }"><a href="#!/settings/notifications">Notifications</a></li>
    </ul>

    <div app-view-segment="1"></div>
</div>