<div class="profile-block">
    <div class="col col-lg-8 profile">
        <div class="page-header"><h1>Профіль</h1></div>
        <div class="col col-lg-3"><a href="/news" class="btn btn-default">Новини</a></div>
        <div class="col col-lg-3"><a href="/afisha" class="btn btn-default">Афіша</a></div>
        <div class="col col-lg-3"><a href="/blog" class="btn btn-default">Блог</a></div>
        <div class="col col-lg-3"><a href="/" class="btn btn-default">Кніпочка</a></div>
        <div class="col col-lg-3"><a href="/" class="btn btn-default">Кніпочка</a></div>
        <div class="col col-lg-3"><a href="/" class="btn btn-default">Кніпочка</a></div>
        <div class="col col-lg-3"><a href="/" class="btn btn-default">Кніпочка</a></div>
        <div class="col col-lg-3"><a href="/" class="btn btn-default">Кніпочка</a></div>
    </div>
    <div class="col col-lg-4">
        <div class="avatar">
            <a href="/">
                <div class="photo" data-title="змінити аватар">
                    <img class="img-thumbnail" src="/assets/img/avatar.jpg">
                </div>
            </a>
        </div>
    </div>
</div>