<div class="content-container">

    <div class="page-header">
        <h1>Заказ #{{gift.item_id}}
            <a class="btn btn-link" href="#!/gifts">{{ 'назад' }}</a>
        </h1>
    </div>

    <div class="b-gifts-from">
        <div class="row">
            <div class="col col-lg-3"><label>{{'Oт'|translate }}</label></div>
            <div class="col col-lg-9"><a ng-href="/user/{{gift.from.id}}/profile" target="_blank">{{gift.from.fullname}}</a></div>
        </div>
        <div class="row">
            <div class="col col-lg-3"><label>{{'Для'|translate }}</label></div>
            <div class="col col-lg-9"><a ng-href="/user/{{gift.to.id}}/profile" target="_blank">{{gift.to.fullname}}</a></div>
        </div>
        <div class="row">
            <div class="col col-lg-3"><label>{{'Подарок'|translate }}</label></div>
            <div class="col col-lg-9">{{gift.gift.title|language}} ({{gift.gift.price}} грн.)</div>
        </div>
        <div class="row">
            <div class="col col-lg-3"><label>{{'Время заказа'|translate }}</label></div>
            <div class="col col-lg-9">{{gift.created_at|date:'dd.MM.yyyy HH:mm'}}</div>
        </div>
        <div class="row">
            <div class="col col-lg-3"><label>{{'Время последнего обновления'|translate }}</label></div>
            <div class="col col-lg-9">{{gift.updated_at|date:'dd.MM.yyyy HH:mm'}}</div>
        </div>
        <div class="row">
            <div class="col col-lg-3"><label>{{'Статус'|translate }}</label></div>
            <div class="col col-lg-9">
                <select class="form-control" ng-model="gift.status">
                    <option value="0">в ожидании</option>
                    <option value="1">обработано</option>
                    <option value="2">доставлено</option>
                </select>
            </div>
        </div>
        <hr />
    </div>

</div>