<div class="page-header">
    <h1><a href="/users">Користувачі</a> >> {{ user.login }}</h1>
</div>

{{ user.login }}

{{ selectedOptions|json }}

<form class="form-horizontal" novalidate ng-submit="saveUser(user)">

    <div class="control-group">
        <label class="control-label">Прізвище</label>
        <div class="controls">
            <input type="text" ng-model="user.secondname" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Ім'я</label>
        <div class="controls">
            <input type="text" ng-model="user.firstname" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">По батькові</label>
        <div class="controls">
            <input type="text" ng-model="user.patronymic" />
        </div>
    </div>

<div>
    <div ng-repeat="role in roles">
        <label>
            <input ng-checked="user.roles.indexOf(role.id) != -1" ng-click="toggleRole(role.id)" value="{{role.id}}" type="checkbox" />
            {{ role.name }}
        </label>
    </div>
</div>
    <div class="form-actions">
        <button class="btn btn-default" type="submit">Save</button>
    </div>
</form>
{{ user|json }}