<form method="POST" enctype="multipart/form-data"
      data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

    <div class="row fileupload-buttonbar">
        <div class="col col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <div class="btn-group">
                <span class="btn btn-default fileinput-button" ng-class="{disabled: disabled}">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple ng-disabled="disabled">
                </span>
                <button ng-if="queue.length" type="button" class="btn btn-success start" data-ng-click="submit()">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button ng-if="queue.length" type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
            </div>
            <!-- The loading indicator is shown during file processing -->
            <div class="fileupload-loading"></div>
        </div>
        <!-- The global progress information -->
        <div class="col col-lg-5 fade" data-ng-class="{in: active()}">
            <!-- The global progress bar -->
            <div class="progress progress-success progress-striped active" data-file-upload-progress="progress()"><div class="bar" data-ng-style="{width: num + '%'}"></div></div>
            <!-- The extended global progress information -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped files ng-cloak">
        <tr data-ng-repeat="file in queue">
            <td data-ng-switch data-on="!!file.thumbnailUrl">
                <div class="preview" data-ng-switch-when="true">
                    <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                </div>
                <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
            </td>
            <td>
                <p class="name" data-ng-switch data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                            <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                        </span>
                    <span data-ng-switch-default>{{file.name}}</span>
                </p>
                <div data-ng-show="file.error"><span class="label label-important">Error</span> {{file.error}}</div>
            </td>
            <td>
                <p class="size">{{file.size | formatFileSize}}</p>
                <div class="progress progress-success progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="bar" data-ng-style="{width: num + '%'}"></div></div>
            </td>
            <td>
                <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="file.id || file.success">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
                <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel</span>
                </button>
                <button data-ng-controller="bzUploader.FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Delete</span>
                </button>
            </td>
        </tr>
    </table>
</form>